/* Version 2022.12.22.11.28 */

html {
  height: 100%;
  margin: 0%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0%;
  width: 100%;
}

#background {
  background-color: #e9a603;
  background-image: linear-gradient(to bottom, #e7c100, #f1641e);
  height: 100%;
  left: 0%;
  top: 0%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

#topnav {
  height: 20%;
  width: 100%;
}

h1 {
  -webkit-text-stroke: 2px #c3b0c3;
  color: #edd8e4;
  float: left;
  font-size: 300%;
  margin: 5%, 0%, 5%, 0%;
  width: 20%;
}

h2 {
  -webkit-text-stroke: 2px #c3b0c3;
  color: #edd8e4;
  float: left;
  font-size: 225%;
  margin-top: 3%;
  width: 20%
}

hr {
  background-color: black;
  border-color: black;
  width: 90%;
}

.item {
  height: 20%;
  width: 100%;
}

.text {
  float: right;
  width: 70%;
}

.thumbnail {
  float: left;
  height: 100%;
  width: 30%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

h3 {
  color: #1560bb;
  float: right;
  font-size: 150%;
  margin-bottom: 0;
  margin-top: 5;
  width: 100%;
}

.descr {
  float: right;
  width: 100%;
}

.item p {
  color: #1560bb;
  float: left;
  width: 90%;
}
